@tailwind base;
@tailwind components;
@tailwind utilities;

#quickpeek-search-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  backdrop-filter: blur(10px);
  /* Equivalent to backdrop-blur-md */
  background-color: rgba(0,
      0,
      0,
      0.8);
  /* Change alpha to 0.7 for a slightly more opaque background */
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
}

@layer utilities {
  .bg-gradient {
    background: linear-gradient(135deg, #ff61d8 0%, #6b8de3 50%, #8ed6fb 100%);
  }

  .bg-dark-gradient {
    background: linear-gradient(135deg, #5b0e58 0%, #0f1c61 50%, #006c8b 100%);
  }

  .bg-gradient-animated {
    background: linear-gradient(-45deg, rgba(255, 97, 216, 0.3), rgba(107, 141, 227, 0.3), rgba(142, 214, 251, 0.3));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  .bg-dark-gradient-animated {
    background: linear-gradient(-45deg, rgba(91, 14, 88, 0.3), rgba(15, 28, 97, 0.3), rgba(0, 108, 139, 0.3));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  .glassmorphism {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }

  .dark .glassmorphism {
    background: rgba(23, 23, 23, 0.2);
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .animate-pulse-border {
    position: relative;
  }

  .animate-pulse-border::before {
    content: "";
    position: absolute;
    inset: -2px;
    background: linear-gradient(90deg, #ff61d8, #6b8de3, #8ed6fb, #ff61d8);
    background-size: 400% 400%;
    animation: pulse-border 8s linear infinite;
    border-radius: calc(var(--radius) + 2px);
    z-index: -1;
  }

  .dark .animate-pulse-border::before {
    background: linear-gradient(90deg, #5b0e58, #0f1c61, #006c8b, #5b0e58);
  }

  @keyframes pulse-border {
    0% {
      background-position: 0% 50%;
    }

    100% {
      background-position: 400% 50%;
    }
  }
}